/* { background:#C0DEED}*/
.menu-clouds-top{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0; left:0;
    background-color: #8EC1DA;
    z-index: -1;
}
.menu-clouds-bottom{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0; left:0;
    background-color: #C0DEED;
    z-index: -1;
}
.menu-clouds {
position:absolute;
top:200px;left:0px;
z-index: -1;
text-align:center;
background-color:#C0DEED;
width: 100%;
height: 135px;
padding-top:100px;
background: url(../img/clouds.png) center top repeat-x;
animation: clouds-animation 30s linear infinite;
-ms-animation: clouds-animation 30s linear infinite;
-moz-animation: clouds-animation 30s linear infinite;
-webkit-animation: clouds-animation 30s linear infinite;
}

@keyframes clouds-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-webkit-keyframes clouds-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes clouds-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes clouds-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}