@font-face{
    font-family: robotoregular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: robotolight;
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?57285040');
    src: url('../font/fontello.eot?57285040#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?57285040') format('woff'),
       url('../font/fontello.ttf?57285040') format('truetype'),
       url('../font/fontello.svg?57285040#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
  margin:0;
  padding:0;
  font-family: robotoregular;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: table;
  text-align: center;
  background-image: url("../img/skulls.png");
    
}
.btn{
    outline: 0;
    border: 0;
}
.btn:hover{
    color: #F00;
    cursor: pointer;
}
.container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.window{
  width: 750px;
  height: 550px;
  margin: auto;
  padding: 10px;
  border: 0;
  position: relative;
  background-color: #FFF;
  box-shadow: 0px 0px 20px #ccc;
    display: none;
}
#menu{
    background-color: rgba(0,0,0,0);
}
#menu-top{
    height: 350px;
}
#menu-bottom{
    height: 200px;
    width: 100%;
    display: table;
}
#menu-logo{
    line-height: 350px;
    font-size: 200px;
}
#menu-logo img{
    margin-top: 50px;
    width: 80%;
}
#menu-volume-btn{
    right: 10px;
}
#menu-music-btn{
    right: 50px;
}
.menu-item{
    display: table-cell;
    vertical-align: middle;
}
.menu-control{
    width: 150px;
    height: 150px;
    margin: auto;
    color: #fff;
    border-radius: 75px;
    //border: 1px solid #999;
    text-shadow: 0px 0px 10px #666;
}
.control-icon{
    line-height: 90px;
    font-size: 70px;
}
.control-lable{
    line-height: 60px;
    font-size: 25px;
}
.menu-bar{
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  line-height: 50px;
  position: relative;
}
.menu-bar button{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
#lvl-container, #profile-container{
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: auto;
}
.lvl-card{
  display: inline-block;
  width: 220px;
  height: 160px;
  margin: 10px;
  border: 0px solid #ccc;
  position: relative;
  box-shadow: 0px 0px 10px #ccc;
  animation: 2s lvl-show ease-in-out;
}
@keyframes lvl-show{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.lvl-poster{
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.lvl-name{
  display: block;
  width: 100%;
  height: 25%;
  line-height: 40px;
  font-size: 1.5em;
  color: #f00;
  font-weight: bold;
  text-shadow: 0px 0px 5px #fff;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  position: absolute;
  bottom: 0;
  left: 0;
  animation: 0.5s lvl-leave;
}
.lvl-name:hover{
  height: 50%;
  line-height: 100px;
  animation: 0.5s lvl-hover;
}
@keyframes lvl-leave{
    0% { height: 50%; line-height: 100px; }
    100% { height: 25%; line-height: 40px; }
}
@keyframes lvl-hover{
    0% { height: 25%; line-height: 40px; }
    100% { height: 50%; line-height: 100px; }
}
.lvl-card, .lvl-poster, .lvl-name{
  cursor: pointer;
}
.lvl-lock{
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  line-height: 160px;
  color: #f00;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
#player-controls{
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
}
#profile-thumbnail{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 25px;
    color: #FFF;
    background-color: #000;
    position: absolute;
    left: 0;
    background-size: contain;
}
#score-lable{
    width: 80px;
    font-size: 25px;
    font-weight: bold;
    left: 160px;
}
#score{
    width: 100px;
    color: #F00;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    left: 240px;
}
.player-btn{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    position: absolute;
}
#btn-pause{
    right: 40px;
}
#btn-sound{
    right: 80px;
}
#btn-music{
    right: 120px;
}
#player-name{
    height: 20px;
    width: 120px;
    font-size: 20px;
    line-height: 20px;
    left: 40px;
}
#lives{
    font-size: 20px;
    width: 120px;
    height: 20px;
    line-height: 20px;
    left: 40px;
    top: 20px;
    color: #F00;
}
#player-home{
    right: 0;
}
#play{
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
}
#player{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#gamecanvas{
  border:1px solid #ccc;
}
.splash-card{
    display: block;
    position: absolute;
    width: 751px;
    height: 501px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
}
.splash-control{
    display: block;
    width: 375px;
    height: 275px;
    margin-top: 125px;
    margin-left: 187px;
    color: #FFF;
    //text-shadow: 0px 0px 50px #F00;
    text-shadow: -1px -1px 10px #F00,
                1px -1px 10px #F00,
                -1px 1px 10px #F00,
                1px 1px 10px #F00;
}
.splash-control-icon{
    display: block;
    width: 100%;
    height: 175px;
    line-height: 175px;
    font-size: 150px;
}
.splash-control-msg{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
}
#player-splash{
    display: block;
    width: 750px;
    height: 500px;
    position: absolute;
    opacity: 0.75;
    background-color: #000;
    animation: 0.5s player-splash ease-in-out;
}
@keyframes player-splash{
    0%{ opacity: 0; }
    100%{ opacity: 0.75; }
}
#player-splash-control{
    display: block;
    width: 250px;
    height: 250px;
    margin: 125px 250px;
    line-height: 250px;
    font-size: 150px;
    color: #fff;
    position: absolute;
    animation: 0.5s player-btn ease-in-out;
}
#player-splash-control:hover{
    color: #F00;
    cursor: pointer;
}
@keyframes player-btn{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
#splash{
  position: relative;
}
#splash img{
  width: 300px;
}
#progress-bar{
  width: 600px;
  height: 25px;
  margin: auto 60px;
  background-color: #ccc;
  position: absolute;
  bottom: 15%;
}
#bar{
  background-color: #057068;
  width: 1%;
  height: 25px;
}

#profile-top{
    display: block;
    width: 100%;
    height: 200px;
}
#profile-bottom{
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
}
.slider{
    width: 50%;
    height: 100%;
    position: absolute;
    display: table;
    background: radial-gradient(rgba(255,255,0,0.5), rgba(0,0,0,0));
}
#ball-slider, #player-ball{
    right: 0;
}
#paddle-slider, #player-paddle{
    left: 0;
    overflow: scroll;
}
.slider-img{
    width: 375px;
    display: table-cell;
    vertical-align: middle;
}
.slider img{
    max-width: 75%;
    max-height: 75%;
}
#img-middle{
    height: 100%;
    display: inline-block;
}
#profile-charachter{
    display: block;
    float: left;
    position: relative;
    width: 400px;
    height: 100%;
}
#profile-avatar{
    position: absolute;
    left: 0;
    width: 160px;
    height: 160px;
    margin: 20px;
    border-radius: 100px;
    background-size: contain;
}
.usermod-details{
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
}
#usermod-avatar{
    display: block;
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('../img/male.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.usermod-info{
    display: block;
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
}
.usermod-section{
    display: block;
    width: 100%;
    height: 100px;
    line-height: 50px;
    position: relative;
}
.usermod-lable{
    display: block;
    width: 50%;
    height: 100px;
    line-height: 100px;
    font-size: 25px;
}
.usermod-control{
    display: block;
    width: 50%;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}
.usermod-control div{
    display: inline-block;
    width: 40%;
    height: 100%;
    font-size: 35px;
    cursor: pointer;
}
.usermod-gender{
    color: #F00;
}
#profile-details, #user-details{
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}
#user-name{
    display: inline-block;
    width: 60%;
    line-height: 32px;
    text-align: left;
    padding-left: 5%;
    text-align: center;
    border-radius: 20px;
    border: 4px solid #000;
}
#user-gender{
    display: inline-block;
    width: 32px;
    line-height: 32px;
    font-size: 22px;
    border-radius: 20px;
    border: 4px solid #000;
}
#highscore-icon{
    font-size: 50px;
}
#highscore-lable{
    font-size: 25px;
}
#highscore-value{
    font-size: 35px;
    font-weight: bold;
    color: #F00;
}
.details-section{
    width: 100%;
}
.details-lable{
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
}
.details-input{
    line-height: 60px;
}
.usermod-control input[type="text"]{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #999;
    font-size: 25px;
    outline: 0;
}
.usermod-control input[type="text"]:focus{
    box-shadow: 0px 0px 5px #f00;
}
#gender-input{
    display: table;
}
#gender-input .gender-control{
    display: table-cell;
}
.gender-btn{
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 29px;
    line-height: 50px;
    font-size: 30px;
    border: 4px solid #000;
}
.gender-btn:hover{
    color: #F00;
    border: 4px solid #F00;
    cursor: pointer;
}
.gender-selected{
    color: #FFF;
    background-color: #F00;
    border: 4px solid #F00;
}
.gender-selected:hover{
    color: #FFF;
}
#usermod-save{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    font-size: 25px;
}
#profile-badges{
    display: block;
    float: left;
    width: 350px;
    height: 200px;
}
#player-badges{
    display: block;
    border-radius: 20px;
    height: 40px;
    width: 220px;
    right: 160px;
    text-align: right;
}
#player-badges .badge-icon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
#player-badges .badge-icon img{
    width: 40px;
    height: 40px;
}
#badge-sec1{
    line-height: 60px;
    font-size: 30px;
}
#badge-sec1 img{
    width: 100px;
}
#badge-sec2{
    line-height: 60px;
    font-size: 30px;
}
#badge-sec3{
    display: table;
    width: 340px;
    height: 70px;
    border-radius: 40px;
    border: 2px solid #F00;
}
.badge-icon{
    display: table-cell;
    vertical-align: middle;
}
#badge-sec3 img{
    width: 50px;
    height: 50px;
}
.left-nav{
    left: 0px;
}
.right-nav{
    right: 0px;
}
.btn-nav{
    width: 50px;
    font-size: 30px;
    line-height: 300px;
    position: absolute;
}
.btn-nav:hover{
    cursor: pointer;
    color: #F00;
}